.wrapperAddContact{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    text-align:center;
    padding: 10px 0;
}
.wrapperAddContact .btn{
    width: 50px;
    height: 50px;
}
.maxHeightTable{
    height: 70vh;
    overflow-y: scroll;
}
.btn i{
    pointer-events: none;
}
